/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

h1 {
  font-size: 30px;
  color: #e52d6e;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
}

.main-text {
  font-size: .9rem;
  margin-top: 1.5rem;
}

.third-column {
  float: left;
  width: calc ((100% / 3) - 90px);
  margin-left: 30px;
  margin-top: 40px;
  background-color: #0f0e17;
  height: 80px;
  width: 320px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.photo-profile {
  height: 100%;
  float: left;
}

.text-profile-wrapper {
  text-align: left;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.white-text {
  color: white;
  margin-bottom: 5px;
}

.mail {
  color: #4db4d6;
}