/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: slateblue solid 2px;
}

h2 {
  font-size: 15px;
}

.column-third {
  width: calc(100% / 3);
  /* sistemare il margine dal calc*/
  float: left;
  margin-top: 20px;
  background-color: lightyellow;
  border: crimson solid 2px;
  height: 100px;
}

.block {
  background-color: #0f0e17;
  height: 80px;
  width: 320px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.first-block


.photo-profile {
  height: 100%;
  float: left;
}

.text-profile-wrapper {
  text-align: left;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.white-text {
  color: white;
  margin-bottom: 5px;
}

.mail {
  color: #4db4d6;
}