/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: slateblue solid 2px;
}

.column-third {
  width: calc(100% / 3);
  /* sistemare il margine dal calc*/
  float: left;
  margin-top: 20px;
  background-color: lightyellow;
  border: crimson solid 2px;
  height: 100px;
}

.block {
  background-color: #0f0e17;
  height: 80px;
  width: 300px;
}

.first-block

.photo-profile {
  height: 100%;
  float: left;
}